.main-wrapper {
   box-sizing: border-box;
   height: 90vh;
   padding: 0 4rem;
   background: #fff;
   box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
}

h1 {
   color: #007CC7;
}

:root {
   --background: white;

   --primary: #242424;
   --secondary: #007CC7;

   --card-size: 300px;
}

.exp-slider {


   margin: 0;
   display: grid;
   place-items: center;
   padding: 3rem;
   font-family: 'Source Code Pro', monospace;

   text-rendering: optimizelegibility;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
}

.card {
   width: calc(var(--card-size) * 2.5);
   height: 40vh;
   overflow: scroll;


  
   box-shadow: 0 2px 70px 4px rgba(0, 0, 0, 0.56), 0 0 0 1px rgba(0, 0, 0, 0.3);

   background: #eeeedd;

   display: grid;
   grid-template-columns: 40% auto;
   color: white;

   align-items: center;

   will-change: transform;
   transition: transform 0.25s cubic-bezier(0.4, 0.0, 0.2, 1), box-shadow 0.25s cubic-bezier(0.4, 0.0, 0.2, 1);


}

.card:hover {
   box-shadow: 0 32px 30px 14px #242424, 0 0 0 0 #eeeedd;
   transform: scale(1.03);
   transition: all 0.3s ease-out;
}

.card-details {
   padding: 1rem;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.name {
   color: var(--secondary);
   font-size: 1.8rem;
}

.occupation {
   font-weight: 600;
   color: var(--primary);
   font-size: 1.2rem;
}

.occupation::before {
   content: "@";
   color: var(--primary);
}

.card-avatar {
   display: grid;
   place-items: center;
   margin-left: 80px;
   width: 175px;
   height: 175px;
}

img {
   max-width: 80%;
}

.card-about {
   margin-top: 0.1rem;
   display: flex;
}

.item {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   margin-bottom: 0.5rem;
   margin-right: 1rem;
   width: 8vw;
}

.value {
   color: var(--primary);
   font-size: 16px;
}

.item.value {
   font-size: 1rem;
}

.item .value {
   color: var(--secondary);
}

span.value{
   height: 2vh;
}

.item .label {
   color: var(--secondary);
}

.item.label {
   margin-top: 0.15rem;
   font-size: 0.75rem;
   font-weight: 600;
   color: var(--primary);
}

.skills {
   display: flex;
   flex-direction: column;
   margin-top: 0.75rem;
}

.skills.value {
   margin-top: 0.15rem;
   font-size: 0.75rem;
   line-height: 1.25rem;
}

.skills.label {
   font-size: 1rem;
   font-weight: 600;
   color: var(--primary);
}

.rec.rec-arrow{
   color: #007CC7;
   padding-top: 0;
}
.rec.rec-arrow:hover{
   color: #007CC7;
}

.rec.rec-dot.rec-dot_active{
   background: #007CC7;
}

@media screen and (max-width: 760px) {
   .card-avatar {
      display: none;
   }

   .card-details {
      width: 280%;
   }

   .card {
      width: 400px;
      margin: 0;
   }
}

@media screen and (max-width: 660px) {
   .skills{
      display: none;
   }
}