/* .fr1 {
  margin-top: 50%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
}
.te1 {
  width: 50%;
  height: 75%;
}
.s {
  width: 60%;
  height: 75%;
} */
